@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::selection {
  background-color: rgba(187, 184, 184, 0.315);
}
.main {
  overflow: hidden;
  text-align: center;
  h3 {
    background-color: white;
    padding: 16px;
  }
}
.title {
  height: 70vh;
  @include flexCenter(column);
  .text-input {
    input {
      font-size: 40px;
      outline: none;
      border: none;
      background-color: transparent;
      text-align: center;

      margin: 20px;
      padding: 20px;
    }
  }

  .btns {
    @include flexCenter(row);
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    button {
      -webkit-tap-highlight-color: transparent;
      outline: none;
      margin: 10px;
      padding: 10px;
      background-color: transparent;
      border: 1px solid black;
      cursor: pointer;
    }
  }
}
